@font-face {
    font-family: gt-p;
    src: url(../fontes/GothamLight.ttf);
}

@font-face {
    font-family: gt-m;
    src: url(../fontes/GothamMedium.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../imagens/background-img-tela-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

nav {
    background: rgba(255, 255, 255, 0.815);
    padding: 20px;
    width: 60vh;
    height: 100vh;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space between;
    margin-bottom: -41vh;

}

.stroke {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav ul li a {
    display: block;
    padding: 0 0px;
    text-decoration: none;
    color: rgb(84, 198, 255);

}

/* nao mecher */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: rgb(0, 66, 97);
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(59, 106, 123);
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

#menu li {
    list-style: none;
    margin: 8.6vh;

}

li {
    font-family: gt-p;
    font-size: 3.5vh;
    color: rgb(75, 135, 156);
    font-weight: bold;

}


a {
    text-decoration: none;
}

/* link que ainda não foi acessado */
a {
    color: rgb(59, 106, 123);
    ;
}

/* link que foi visitado */
a:visited {
    color: rgb(59, 106, 123);
}

/* quando o link for selecionado */
a:active {
    color: rgb(59, 106, 123);
}

.texto {
    float: left;
}

p {
    font-family: gt-p;
    font-size: 2.2vh;
    text-align: justify;
    color: rgb(255, 255, 255);
    margin-left: 66.4vh;
    line-height: 3.5vh;
    font-weight: bold;
    float: left;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(1, 50, 64, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 100vh;
    padding: 6vh;
    padding-left: 40vh;
    padding-right: 34.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icones {
    margin-top: 5vh;
    margin-left: -2vh;

}

.icones img {
    width: 6vh;
    margin: 1vh;

}


@media (max-width:425px) {
    body {
        background-image: url(/imagens/background-img-mobile.png);
        overflow: hidden;

    }

    nav {
        background: rgba(255, 255, 255, 0);
        padding: 20px;
        width: 42vh;
        height: 70vh;
        margin-top: 15vh;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: -30vh !important;
    
    }
    

    #menu {
        margin-top: 0px;
        margin-bottom: 1vh;
        margin-left: -26vh !important;
        
    }

    #menu li {
        font-family: gt-p;
        list-style: none;
        font-size: 2vh;
        margin: 2vh;


    }

    li {
        background-color: rgba(240, 248, 255, 0.733);
        text-align: center;
        padding: 1vh;
        border-radius: 2vh;
    }

    .stroke {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 85%;

    }

    .icones {
        margin-top: 33vh !important;
        margin-left: 0vh;
    }

    .icones img {
        background-color: rgba(240, 248, 255, 0.733);
        padding: 1vh;
        border-radius: 1vh;
        width: 3vh;
        margin: 1vh;
        margin-bottom: 5vh;
        display: inline;
        justify-content: center;
        align-items: center;


    }

    .texto {
        margin-bottom: 10vh;
        margin-left: 0vh !important;

    }



    p {
        font-family: gt-p;
        font-size: 1.5vh !important;
        text-align: justify;
        color: rgb(255, 255, 255);
        margin-left: 3vh;
        line-height: 2.5vh;
        backdrop-filter: blur(0px) saturate(200%);
        -webkit-backdrop-filter: blur(0px) saturate(200%);
        background-color: rgba(1, 50, 64, 0.55);
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-radius: 15px;
        width: 84%;
        padding: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -16vh;
    }

}

