@font-face {
    font-family: gm;
    src: url(../fontes/GothamLight.ttf);
}

@font-face {
    font-family: text-box;
    src: url(../fontes/Inter-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

/*scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #ffffffea;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: rgb(75, 135, 156);
    border-radius: 30px;
}

/*nav*/

small {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}


.center {
    text-align: center;
}

nav {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 0;
    font-family: gm;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav h1 {
    margin-right: 40vh;
    color: rgb(0, 66, 90);
    font-size: 35px;
}

nav ul li {
    display: inline-block;
    padding: 5px;
}

nav li {
    margin: 5px;
    font-size: 0.8;
}

nav ul a {
    display: inline-block;
    text-decoration: none;
    color: rgb(78, 133, 153);
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: rgb(59, 106, 123);
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
    display: inline-block;
    font-weight: bold
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(59, 106, 123);
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

.icons {
    height: 20px;
}

.Arrow-voltar {
    margin-bottom: -1vh;
}


main {
    margin-top: 50px;
    margin-left: 5vh;
    justify-content: center;
    text-align: center;

}


#primario {
    float: left;
    margin-left: 10vh;
    color: #fff;
}

.form-box {
    width: 130vh;
}

.form-box p {
    align-items: left;
    margin-left: 15vh;

}

.form-box .titulo-f {
    font-size: 3.55vh;
    color: black;
    font-family: text-box;
    text-align: left;
}

.form-box .subtitulo-f {
    font-family: text-box;
    display: flex;
    font-weight: bold;
    letter-spacing: 0.5vh;

}

.form-box .local-f {
    font-size: 2.5vh;
    color: black;
    font-family: text-box;
    text-align: justify;
    padding-bottom: 6vh;
    border-bottom: 2px solid rgb(59, 106, 123);
}

#secundario {
    float: left;
    margin: 0 0 0 100px;
    color: #fff;
    margin-bottom: 15vh;
}

.titulo {
    font-size: 3.55vh;
    color: black;
    margin-left: 2vh;
    font-family: text-box;
}

.subtitulo {
    font-size: 1.8vh;
    letter-spacing: 0.45vh;
    color: black;
    margin-left: 2vh;
    margin-top: -2vh;
    font-family: text-box;
    display: flex;
    font-weight: bold;
}

.local {
    font-size: 2.5vh;
    color: black;
    margin-left: 2vh;
    font-family: text-box;

}


.box {
    justify-content: left;
    text-align: left;
    border-radius: 20px;
    width: 518px;
    height: 125px;
    margin: 3vh 0;
    padding: 5px;
    color: #fff;
    background: #25607641;
}

.box:hover {
    justify-content: left;
    text-align: left;
    border-radius: 20px;
    width: 518px;
    height: 125px;
    margin: 3vh 0;
    padding: 5px;
    color: #fff;
    background: #25607641;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.123);

}



.box1 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 150px;
    margin: 10px 0;
    padding: 5px;
    color: black;
    border-bottom: 2px solid rgb(215, 244, 255);

}

.box2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 150px;
    margin: 10px 0;
    padding: 5px;
    color: black;
}

footer {
    width: 92%;
    background: rgba(228, 228, 228, 0.788);
    color: #fff;
    margin-top: 6%;
    padding: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 14vh;
}

footer img {
    margin-right: 3vh;
    width: 4vh;
    margin-left: 6vh;
    align-items: center;
    align-content: center;

}

@media (max-width:475px) {


    main {
        margin-top: 30px;
        margin-left: 0vh;
        justify-content: center;
        text-align: center;

    }

    header {
        margin-right: 5vh;
    }

    header li h1 {
        margin-right: 0vh;
        font-size: 4vh;
    }

    nav ul {
        list-style: none;
        text-align: left;
    }

    #primario {
        float: center;
        margin-left: 6vh;
        color: #fff;
    }

    #secundario {
        float: center;
        margin-left: 5.5vh;
        color: #fff;
        margin-top: -3vh;
        margin-bottom: 0vh;
    }


    .form-box {
        width: 100%;
        margin-left: -6vh;
    }

    .form-box p {
        align-items: left;
        margin-left: 12vh;

    }

    .titulo-f {
        font-size: 1.8vh !important;
        color: black;
        font-family: text-box;
        text-align: left;
    }

    .subtitulo-f {
        font-family: text-box;
        display: flex;
        font-weight: bold;
        letter-spacing: 0.5vh;
        font-size: 1.5vh;



    }

    .form-box .local-f {
        font-size: 1.5vh;
        color: black;
        font-family: text-box;
        text-align: justify;
        padding-bottom: 6vh;
        border-bottom: 2px solid rgb(59, 106, 123);
    }


    .titulo {
        font-size: 2.5vh;
        color: black;
        margin-left: 2vh;
        font-family: text-box;
    }

    .subtitulo {
        font-size: 1.6vh;
        letter-spacing: 0.45vh;
        color: black;
        margin-left: 2vh;
        margin-top: -2vh;
        font-family: text-box;
        display: flex;
        font-weight: bold;
    }

    .local {
        font-size: 1.5vh;
        color: black;
        margin-left: 2vh;
        font-family: text-box;

    }


    .box {
        justify-content: left;
        text-align: left;
        border-radius: 20px;
        width: 80%;
        height: 20vh;
        padding: 5px;
        color: #fff;
        background: #25607641;
    }

    .box:hover {
        justify-content: left;
        text-align: left;
        border-radius: 20px;
        width: 80%;
        height: 20vh;

        padding: 5px;
        color: #fff;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.123);

    }



    .box1 {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 600px;
        height: 150px;
        margin: 10px 0;
        padding: 5px;
        color: black;
        border-bottom: 2px solid rgb(215, 244, 255);

    }

    .box2 {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 500px;
        height: 150px;
        margin: 10px 0;
        padding: 5px;
        color: black;
    }

    footer {
        width: 92%;
        background: rgba(228, 228, 228, 0.788);
        color: #fff;
        padding: 5vh;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-left: 2.5vh;
    }

    footer img {
        margin-right: 3vh;
        width: 4vh;
        margin-left: 0vh;
        align-items: center;
        align-content: center;

    }
}